<% include layout/html/header %>
<head>
    <title><%= settings.core.config.app_name %> - Master - <%= master.name %></title>
    <% include elements/client_head %>
</head>
<body>
Welcome to <%= settings.core.config.app_name %>. Waiting for master to send target url.
</body>
<% include layout/html/footer %>